.explore-screen .try-it-explore img,.poll-screen .try-it img{float:right}
.choose-wisely footer .fa:hover,.choose-wisely-mobile footer .fa:hover{animation:Rotate .8s .1s 1 linear alternate}
@keyframes Rotate{75%{transform:rotate(290deg)}
100%{transform:rotate(360deg)}
}
@font-face{font-family:FuturalPT;src:url(../fonts/Futura-Medium.eot);src:url(../fonts/Futura-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/FuturaPTBook.otf) format("opentype"),url(../fonts/Futura-Medium.woff) format("woff"),url(../fonts/Futura-Medium.ttf) format("truetype"),url(../fonts/Futura-Medium.svg#FururalPT) format("svg");font-weight:400;font-style:normal}
.modal-dialog{width:600px}
.modal.contact h5{color:#929292;width:80%;margin-left:auto;margin-right:auto;margin-bottom:15px;text-align:center;font-size:22px}
.modal.contact .modal-content{background:#fbf8f7;font-family:FuturalPT,arial,sans-serif;border-radius:3px;width:600px;margin:auto}
.modal.contact .modal-content form{width:93%;margin:auto}
.modal.contact .modal-content form>label{font-family:inherit;width:100%;color:rgba(76,80,93,.7);display:block;font-size:16px}
.modal.contact .modal-content form button{display:block;font-family:inherit;border:none;color:#fff;outline:0;box-shadow:inset 0 0 6px rgba(249,175,162,.75);background:#b0343d;width:100%;transition:.3s ease;font-size:22px;margin-top:17px;padding:10px 0;line-height:20px;margin-bottom:10px}
.modal.contact .modal-content form button:active{box-shadow:inset 0 0 6px rgba(52,78,134,.75)}
.modal.contact .modal-content input{height:33px}
.modal.contact .modal-content textarea{min-height:115px}
.modal.contact .modal-content input,.modal.contact .modal-content textarea{width:100%;font-family:inherit;padding:0 10px;outline:0;min-width:100%;margin:2px 0 0;font-size:16px;display:block;max-width:100%;border:1px solid #d8d8d8}
.choose-wisely footer .copyright small,.choose-wisely h2,.explore-screen .explore-text .explore-header h3,.explore-screen .try-it-explore p,.look-screen .look-text .look-header h2,.look-screen .look-text .look-header h3,.look-screen .try-it-look p,.main-screen .get-it-btn .cta-btn,.main-screen .header,.main-screen-mobile .center-block-mobile .get-it-btn .cta-btn,.main-screen-mobile .center-block-mobile .header,.poll-screen .poll-text .poll-header h2,.poll-screen .poll-text .poll-header h3,.poll-screen .try-it p,.poll-screen-mobile .poll-text .poll-header h2,.poll-screen-mobile .poll-text .poll-header h3{font-weight:300;font-family:FuturalPT}
pre{width:90%;position:relative;left:-50%;margin-left:55%;font-size:1.5em;line-height:35px}
.main-screen{background:url(../img/main-bg.jpg) 50% 50%,rgba(176,52,61,.65);background-size:cover}
.main-screen .header{text-transform:uppercase;color:#400001;font-size:5em;text-align:center;margin-bottom:30px}
.main-screen .header.sub{text-align:right}
.main-screen .header-logo{height:100px}
.main-screen .get-it-btn{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0;border:none;border-radius:11px;position:relative;margin-left:-174px;left:50%;background-color:#b9343e;width:348px;height:86px}
.main-screen .get-it-btn .shirt{background:url(../img/shirt-btn.png);width:49px;height:49px;margin:17px 30px 0 0;display:inline-block}
.main-screen .get-it-btn .cta-btn{text-transform:uppercase;color:#fff;font-size:32px;text-align:right;vertical-align:middle;height:100%;display:inline-block}
.poll-screen{background:#b0343e}
.poll-screen ::-webkit-selection{background:rgba(176,52,62,.8);color:#FFF}
.poll-screen ::selection{background:rgba(176,52,62,.8);color:#fff}
.poll-screen .iphone{background:url(../img/iphone-poll.png) no-repeat;background-size:100%;position:absolute}
@media (min-width:992px){.poll-screen .iphone{width:270px;height:525px;left:64%;top:50%;padding-top:72px;padding-left:27px;margin-top:-262.5px}
}
@media (min-width:1200px){.poll-screen .iphone{width:310px;height:600px;left:64%;top:50%;padding-top:87px;padding-left:31px;margin-top:-300px}
}
@media (min-width:1400px){.poll-screen .iphone{width:422px;height:820px;left:62%;top:50%;padding-top:114px;padding-left:42px;margin-top:-410px}
}
.poll-screen .iphone>*{position:absolute;z-index:1}
@media (min-width:992px){.poll-screen .iphone .poll-photo-1{width:223px;margin-top:-1%;margin-left:-1%}
}
@media (min-width:1200px){.poll-screen .iphone .poll-photo-1{width:258px;margin-top:-.7%;margin-left:-.3%}
}
@media (min-width:1400px){.poll-screen .iphone .poll-photo-1{width:345px;margin-top:-.2%;margin-left:-.2%}
}
@media (min-width:992px){.poll-screen .iphone .poll-photo-2{width:220px;margin-top:1.7%;margin-left:-1%}
.poll-screen .bg-poll-photo1{top:32%}
}
@media (min-width:1200px){.poll-screen .iphone .poll-photo-2{width:255px;margin-top:1.7%;margin-left:0}
}
@media (min-width:1400px){.poll-screen .iphone .poll-photo-2{width:342px;margin-top:3%;margin-left:1.3%}
}
.poll-screen .bg-poll-photo1{position:absolute;left:-17%;width:26%}
@media (min-width:1200px){.poll-screen .bg-poll-photo1{top:30%}
}
@media (min-width:1400px){.poll-screen .bg-poll-photo1{top:29%}
}
.poll-screen .bg-poll-photo2{position:absolute;left:-17%;width:24%}
.poll-screen .poll-text{color:#FFF}
.poll-screen .poll-text .poll-header{margin-bottom:30px;text-align:center}
@media (min-width:992px){.poll-screen .bg-poll-photo2{top:25%}
.poll-screen .poll-text{height:320px;margin-left:16%}
.poll-screen .poll-text .poll-header h2{font-size:3.375em;line-height:50px}
}
@media (min-width:1200px){.poll-screen .bg-poll-photo2{top:22%}
.poll-screen .poll-text{height:350px;margin-left:16%}
.poll-screen .poll-text .poll-header h2{font-size:3.7em;line-height:55px}
}
@media (min-width:1400px){.poll-screen .bg-poll-photo2{top:20%}
.poll-screen .poll-text{height:450px;margin-left:10%}
.poll-screen .poll-text .poll-header h2{font-size:4.375em;line-height:80px}
}
.poll-screen .poll-text .poll-header h3{padding:0 16%}
@media (min-width:992px){.poll-screen .poll-text .poll-header h3{font-size:1.65em;line-height:30px}
.poll-screen .try-it{position:absolute;width:130px;top:82%;left:50%}
}
@media (min-width:1200px){.poll-screen .poll-text .poll-header h3{font-size:1.8em;line-height:35px;padding:0 19.5%}
.poll-screen .try-it{position:absolute;width:140px;top:85%;left:51%}
}
@media (min-width:1400px){.poll-screen .poll-text .poll-header h3{padding:0 16%;font-size:2em;line-height:48px}
.poll-screen .try-it{position:absolute;width:170px;top:88%;left:51%}
}
.poll-screen .try-it p{padding:0;font-size:2.625em;color:#FFF}
@media (min-width:768px){.poll-screen .try-it img{width:42%}
}
.black_white{overflow:hidden;border-right:4px solid #17cdec}
@media (min-width:992px){.poll-screen .try-it p{font-size:2.225em}
.poll-screen .try-it img{width:42%}
.black_white{clip:rect(2em,15.7em,21.4em,auto);border-right:3px solid #17cdec}
}
@media (min-width:1200px){.poll-screen .try-it p{font-size:2.375em}
.poll-screen .try-it img{width:37%}
.black_white{clip:rect(2em,18em,24.4em,auto)}
}
@media (min-width:1400px){.poll-screen .try-it p{font-size:2.625em}
.black_white{clip:rect(3em,24.6em,33.5em,auto);width:160px}
}
.color{position:absolute}
.look-screen{background-color:#e6cfc9}
.look-screen ::-webkit-selection{background:rgba(230,207,201,.8);color:#FFF}
.look-screen ::selection{background:rgba(230,207,201,.8);color:#fff}
.look-screen .iphone{text-align:center;max-width:422px}
@media (min-width:992px){.color{clip:rect(2em,15.7em,21.5em,auto)}
.look-screen .iphone{max-width:320px;margin-left:13%}
}
@media (min-width:1200px){.color{clip:rect(2em,18em,24.4em,auto)}
.look-screen .iphone{max-width:310px;margin-top:2%}
}
.look-screen .iphone img{height:auto;width:100%}
.look-screen .bg-look-shirt{position:absolute;right:-23vh;top:6vh;height:53vh}
.look-screen .bg-look-coat{position:absolute;left:-40vh;top:3vh;height:93vh}
.look-screen .bg-look-pants{position:absolute;right:-40vh;bottom:-55vh;height:93vh}
.look-screen .bg-look-shoes{position:absolute;right:30vh;bottom:-32vh;height:42vh}
.look-screen .look-text .look-header{margin-bottom:30px;text-align:center}
.look-screen .look-text .look-header h2{color:#b0343e}
.look-screen .look-text .look-header h2 ::-webkit-selection{background:rgba(230,207,201,.8);color:#b0343e}
.look-screen .look-text .look-header h2 ::selection{background:rgba(230,207,201,.8);color:#b0343e}
@media (min-width:992px){.look-screen .look-text{height:295px;margin-top:15%}
.look-screen .look-text .look-header h2{font-size:3.375em;line-height:50px}
}
@media (min-width:1200px){.look-screen .look-text{height:320px;margin-top:11%}
.look-screen .look-text .look-header h2{font-size:3.7em;line-height:55px}
}
@media (min-width:1400px){.color{clip:rect(3em,24.6em,33.5em,auto)}
.look-screen .iphone{max-width:422px}
.look-screen .look-text{height:410px;margin-top:16%}
.look-screen .look-text .look-header h2{font-size:4.375em;line-height:80px}
}
.look-screen .look-text .look-header h3{padding:0 16%;color:#404142}
.look-screen .try-it-look{position:absolute}
@media (min-width:992px){.look-screen .look-text .look-header h3{font-size:1.65em;line-height:30px}
.look-screen .try-it-look{position:absolute;width:130px;top:77%;left:74vh}
.look-screen .try-it-look .text{margin-left:30px}
}
@media (min-width:1200px){.look-screen .look-text .look-header h3{font-size:1.8em;line-height:35px;padding:0 19.5%}
.look-screen .try-it-look{position:absolute;width:170px;top:83%;left:42%}
.look-screen .try-it-look .text{margin-left:35px}
}
@media (min-width:1400px){.look-screen .look-text .look-header h3{font-size:2em;padding:0 16%;line-height:48px}
.look-screen .try-it-look{position:absolute;width:190px;top:77%;left:78vh}
.look-screen .try-it-look .text{margin-left:50px}
}
.look-screen .try-it-look p{padding:0;margin:0;color:#b9343e;transform:rotate(7.811deg)}
@media (min-width:768px){.look-screen .try-it-look img{width:34%}
}
@media (min-width:992px){.look-screen .try-it-look p{font-size:2em}
.look-screen .try-it-look img{width:37%}
}
@media (min-width:1200px){.look-screen .try-it-look p{font-size:2.375em}
.look-screen .try-it-look img{width:33%}
}
.explore-screen{background-color:#f8f2f0}
.explore-screen .iphone{background:url(../img/iphonegold2.png) no-repeat;background-size:100%;position:absolute}
@media (min-width:992px){.explore-screen .iphone{width:270px;height:525px;left:64%;top:50%;padding-top:72px;padding-left:27px;margin-top:-262.5px}
}
@media (min-width:1200px){.explore-screen .iphone{width:310px;height:600px;left:64%;top:50%;padding-top:87px;padding-left:31px;margin-top:-300px}
}
@media (min-width:1400px){.look-screen .try-it-look p{font-size:2.625em}
.explore-screen .iphone{width:422px;height:820px;left:62%;top:50%;padding-top:114px;padding-left:42px;margin-top:-410px}
}
.explore-screen .explore-text{margin-left:16%}
.explore-screen .explore-text .explore-header{margin-bottom:30px;text-align:center}
.explore-screen .explore-text .explore-header h2{font-family:FuturalPT;font-weight:300;color:#b0343e}
@media (min-width:992px){.explore-screen .question{position:absolute;width:190px;top:66%;left:-5%}
.explore-screen .explore-text{height:290px;max-width:570px}
.explore-screen .explore-text .explore-header h2{font-size:3.375em;line-height:50px}
}
@media (min-width:1200px){.explore-screen .question{position:absolute;width:210px;top:63%;left:-5%}
.explore-screen .explore-text{height:320px;margin-left:16%}
.explore-screen .explore-text .explore-header h2{font-size:3.7em;line-height:55px}
}
@media (min-width:1400px){.explore-screen .question{position:absolute;width:250px;top:67%;left:-5%}
.explore-screen .explore-text{height:450px;margin-left:10%}
.explore-screen .explore-text .explore-header h2{font-size:4.375em;line-height:80px}
}
.explore-screen .explore-text .explore-header h3{padding:0 16%;color:#404142}
@media (min-width:992px){.explore-screen .explore-text .explore-header h3{font-size:1.65em;line-height:30px}
.explore-screen .try-it-explore{position:absolute;width:80px;top:78%;left:51.5%}
}
@media (min-width:1200px){.explore-screen .explore-text .explore-header h3{font-size:1.8em;line-height:35px;padding:0 19.5%}
.explore-screen .try-it-explore{position:absolute;width:100px;top:79%;left:54%}
}
@media (min-width:1400px){.explore-screen .explore-text .explore-header h3{padding:0 16%;font-size:2em;line-height:48px}
.explore-screen .try-it-explore{position:absolute;width:100px;top:83%;left:52%}
}
.explore-screen .try-it-explore p{padding:0;transform:rotate(-9.974deg);color:#b9343e}
@media (min-width:992px){.explore-screen .try-it-explore p{font-size:2.225em}
.explore-screen .try-it-explore img{width:70%}
}
@media (min-width:1200px){.explore-screen .try-it-explore p{font-size:2.375em}
.explore-screen .try-it-explore img{width:55%}
}
@media (min-width:1400px){.explore-screen .try-it-explore p{font-size:2.625em}
.explore-screen .try-it-explore img{width:70%}
}
.choose-wisely{background:url(../img/footerslide.png) 50% 50%,rgba(176,52,62,.99);background-size:cover}
.choose-wisely h2{margin-top:-15vh;text-align:center;color:#fff;font-size:4.3em}
.choose-wisely .get-it-btn{margin-top:5vh;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0;border:none;border-radius:11px;position:relative;margin-left:-174px;left:50%;background-color:#fff;width:348px;height:86px}
.choose-wisely footer{margin-left:-15px;color:#fff;position:absolute;bottom:5vh}
.choose-wisely footer .copyright small{font-size:1.3em;text-align:center}
.choose-wisely footer a{color:#fff;font-size:1.3em;text-align:center}
.choose-wisely footer .icons:first-child{text-align:center}
.choose-wisely footer .fa{font-size:2em;padding:15px;border:1px solid #fff;border-radius:50%;display:inline-block;text-align:center}
.choose-wisely footer .fa-twitter:before{padding:1px}
.choose-wisely footer .fa-facebook:before{padding:8px}
.choose-wisely footer .fa-instagram:before{padding:2px}
.choose-wisely footer .links{margin-top:25px}
.main-screen-mobile{background:url(../img/main-bg.jpg) 50% 50%,rgba(176,52,61,.65);background-size:cover;height:100vh}
.main-screen-mobile .center-block-mobile{height:350px;margin-top:-175px;top:50%;position:absolute}
.main-screen-mobile .center-block-mobile .header{text-transform:uppercase;color:#400001;font-size:3.3em;text-align:center;margin-bottom:30px}
.main-screen-mobile .center-block-mobile .header-logo{height:250px;text-align:center}
.main-screen-mobile .center-block-mobile .header-logo img{width:50%}
.main-screen-mobile .center-block-mobile .get-it-btn{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0;border:none;border-radius:11px;position:relative;margin-left:-174px;left:50%;background-color:#b9343e;width:348px;height:86px}
.main-screen-mobile .center-block-mobile .get-it-btn .shirt{background:url(../img/shirt-btn.png);width:49px;height:49px;margin:17px 30px 0 0;display:inline-block}
.look-screen-mobile .iphone img,.poll-screen-mobile .iphone img{width:90%}
.main-screen-mobile .center-block-mobile .get-it-btn .cta-btn{text-transform:uppercase;color:#fff;font-size:32px;text-align:right;vertical-align:middle;height:100%;display:inline-block}
.poll-screen-mobile{background:#b0343e}
.poll-screen-mobile .iphone{text-align:center}
.poll-screen-mobile .poll-text{color:#FFF}
.poll-screen-mobile .poll-text .poll-header{margin-bottom:30px;text-align:center}
.poll-screen-mobile .poll-text .poll-header h3{padding:0 16%}
.poll-screen-mobile .try-it{text-align:center}
.poll-screen-mobile .try-it p{padding:0;font-size:2.625em;font-weight:300;color:#FFF;font-family:FuturalPT}
.explore-screen-mobile .try-it-explore .text p,.look-screen-mobile .try-it-look .text p{transform:rotate(7.811deg);font-size:2em;font-family:FuturalPT;font-weight:300}
.look-screen-mobile{background-color:#e6cfc9}
.look-screen-mobile .iphone{text-align:center}
.look-screen-mobile .look-text{margin-top:12%}
.look-screen-mobile .look-text .look-header{margin-bottom:30px;text-align:center}
.look-screen-mobile .look-text .look-header h2{font-family:FuturalPT;font-weight:300;color:#b0343e}
.look-screen-mobile .look-text .look-header h3{padding:0 16%;font-weight:300;font-family:FuturalPT;color:#404142}
.look-screen-mobile .try-it-look{text-align:center}
.look-screen-mobile .try-it-look .text p{padding:0;margin:0;color:#b9343e}
.look-screen-mobile .try-it-look img{width:7%}
.explore-screen-mobile{background:#f8f2f0}
.explore-screen-mobile .iphone{text-align:center}
.explore-screen-mobile .iphone img{width:90%}
.explore-screen-mobile .explore-text .explore-header{margin-bottom:30px;text-align:center}
.explore-screen-mobile .explore-text .explore-header h2{font-family:FuturalPT;font-weight:300;color:#b0343e}
.explore-screen-mobile .explore-text .explore-header h3{padding:0 16%;font-weight:300;font-family:FuturalPT;color:#404142}
.explore-screen-mobile .try-it-explore{text-align:center}
.explore-screen-mobile .try-it-explore .text p{padding:0;margin:0;color:#b9343e}
.explore-screen-mobile .try-it-explore img{width:7%}
.choose-wisely-mobile{background:url(../img/footerslide.png) 50% 50%,rgba(176,52,62,.99);background-size:cover;height:100vh}
.choose-wisely-mobile .center-block-choose-mobile{margin-top:10vh}
.choose-wisely-mobile .center-block-choose-mobile h2{text-align:center;color:#fff;font-family:FuturalPT;font-size:3.3em;font-weight:300}
.choose-wisely-mobile .center-block-choose-mobile .get-it-btn{margin-top:5vh;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0;border:none;border-radius:11px;position:relative;margin-left:-174px;left:50%;background-color:#fff;width:348px;height:86px}
.choose-wisely-mobile footer{margin-top:10vh;color:#fff;bottom:1vh}
.choose-wisely-mobile footer .copyright{margin-top:10vh}
.choose-wisely-mobile footer .copyright small{font-family:FuturalPT;font-size:1.3em;font-weight:300;text-align:center}
.choose-wisely-mobile footer a{color:#fff;font-size:1.3em;text-align:center}
.choose-wisely-mobile footer .icons:first-child{text-align:center}
.choose-wisely-mobile footer .fa{font-size:2em;padding:15px;border:1px solid #fff;border-radius:50%;display:inline-block;text-align:center}
.choose-wisely-mobile footer .fa-twitter:before{padding:1px}
.choose-wisely-mobile footer .fa-facebook:before{padding:8px}
.choose-wisely-mobile footer .fa-instagram:before{padding:2px}
.choose-wisely-mobile footer .links{margin-top:25px}