@font-face {
  font-family: FuturalPT; /* Имя шрифта */
  src: url(../fonts/FuturaPTBook.otf); /* Путь к файлу со шрифтом */
}
$font: "FuturalPT";

.nav-container {
  float: left;
  position: relative;
  left: 50%;


  .nav {
    float: left;
    position: relative;
    left: -50%;

    li {
      margin-left: 40px;
      &.active a {
        background-color: transparent;
        color:  #b9343e;
      }
      a {
        font-family: $font;
        color:  #434343;
        font-size: 1.6em;
        font-weight: 400;
      }
    }
  }
}
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;

  background-color: transparent;
  border: none;
}

.main-screen {
  background: url(../img/main-bg.jpg) 50% 50%,rgba(176,52,61,0.65);
  background-size: cover;

  .header {
    text-transform: uppercase;
    font-family: $font;
    color:  #400001;
    font-size: 5em;
    font-weight: 300;
    text-align: right;
    margin-bottom: 30px;
    &-logo {
      height: 100px;
    }
  }

  .get-it-btn {
    $width: 348px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;

    position: relative;
    margin-left: - ($width / 2)-50px;
    left: 50%;

    background-color:  #b9343e;
    width: $width;
    height: 86px;
    border:none;


    .shirt {
      $size: 49px;
      background: url(../img/shirt-btn.png);
      width: $size;
      height: $size;
      margin: 17px 30px 0 0;
      display: inline-block;
    }

    .cta-btn {
      text-transform: uppercase;
      font-family: $font;
      color:  #ffffff;
      font-size: 32px;
      font-weight: 300;
      text-align: right;
      vertical-align: middle;
      height: 100%;
      display: inline-block;
    }

  }
}
.poll-screen {
  background-color:  rgb(176, 52, 62);
  .poll-text {
    position: absolute;
    height: 650px;
    width: 650px;
    top:50%;
    margin-top: -325px;
    color: #FFFFFF;
    text-align: center;
    font-family: $font;
    font-weight: 300;
    h1 {
      font-size: 4.375em;
      line-height: 80px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 2em;
      padding: 0 12% 0 12%;
      line-height: 48px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 2em;
      padding: 0 20% 0 20%;
      line-height: 48px;
    }
    .try-it {
      width: 670px;
      text-align: right;
      display: inline-block;
      margin-top: 100px;
      h3 {
        padding: 0;
        font-size: 2.625em;
      }
      img {
        float: right;
        margin: 15px 0 0 35px;
      }
    }
  }
  .iphone {
    float: right;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
.look-screen {
  background-color: rgb(230, 207, 201);
  .look-text {
    position: relative;
    text-align: center;
    font-family: $font;
    font-weight: 300;
    padding: 0;
    height: 100vh;
    .low{
      position: absolute;
      top:50%;
      margin-top:-325px;
    }
    h1 {
      color:rgb(176, 52, 62);
      font-size: 4.375em;
      line-height: 80px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 2em;
      padding: 0 12% 0 12%;
      line-height: 48px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 2em;
      padding: 0 20% 0 20%;
      line-height: 48px;
    }
    .try-it-look {
      width: 670px;
      padding: 0;
      margin-top: 130px;
      img {
        float: left;
      }
      h3 {
        text-align: left;
        padding: 0;
        color:rgb(176, 52, 62);
        font-weight: 700;
        font-size: 2.625em;
        transform: rotate(7.811deg);
        margin-top: 0;
      }
    }
  }
  .iphone {
    float: left;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
.explore-screen {
  background-color:  rgb(248, 242, 240);
  .explore-text {
    color: rgb(64, 65, 66);
    text-align: center;
    font-family: $font;
    font-weight: 300;
    position: absolute;
    height: 650px;
    width: 650px;
    top:50%;
    margin-top: -325px;
    h1 {
      font-size: 4.375em;
      line-height: 80px;
      margin-bottom: 30px;
      color: rgb(176, 52, 62);
    }
    h2 {
      font-size: 2em;
      padding: 0 12% 0 12%;
      line-height: 48px;
      margin-bottom: 30px;
    }
    h3{
      font-size: 2em;
      padding: 0 20% 0 20%;
      line-height: 48px;
    }
    .try-it-explore {
      width: 650px;
      text-align: right;
      display: inline-block;
      margin-top: 70px;
      h3 {
        display: inline-block;
        padding: 0;
        font-size: 2.625em;
        transform: rotate(-9.974deg);
        color:rgb(185, 52, 62);
      }
      img {
        float: right;
        margin: 15px 0 0 35px;
      }
    }
    .explore-image {
      width: 670px;
      img {
        float: right;
      }
    }
  }
  .iphone {
    float: right;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
.footer-screen {
  background: url(../img/footerslide.png) 50% 50%, rgba(176, 52, 62, 0.99);
  background-size: cover;
  h1 {
    text-align: center;
    color:#FFFFFF;
    font-size: 4.375em;
    font-weight: 300;
  }
  .get-it-btn {
    background-color:  #ffffff;
    width: 349px;
    height: 86px;
  }
}

@media only screen and (max-height : 980px) and (min-height:780px) {

    .poll-screen {
      .iphone {
        img {
          width: 80%;
        }
      }
    }
}
@media only screen and (max-height : 779px) {

  .poll-screen {
    .poll-text {
      height: 600px;
      margin-top: -300px;
      
      .try-it {
        margin-top: 50px;
      }
    }
    .iphone {
      img {
        width: 65%;
      }
    }
  }
}