@import "mixins";

@keyframes Fly {
  to {
    margin-top: -15px;
  }
}
@keyframes Rotate {
  75% {
    transform: rotate(290deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: FuturalPT;
  src: url(../fonts/FuturaPTBook.otf);
}
$font: "FuturalPT";

@import "popup";

.nav-container {

  float: left;
  position: relative;
  left: 50%;

  .nav {
    float: left;
    position: relative;
    left: -50%;

    li {
      margin-left: 40px;
      &.active a {
        background-color: transparent;
        color:  #b9343e;
      }
      a {
        font-family: $font;
        color:  #434343;
        font-size: 1.6em;
        font-weight: 400;
      }
    }
  }
}
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;

  //background-color: transparent;
  background-color: #fff;
  border: none;
}

.main-screen {
  background: url(../img/main-bg.jpg) 50% 50%, rgba(176,52,61,0.65);
  background-size: cover;

  .header {
    text-transform: uppercase;
    font-family: $font;
    color:  #400001;
    font-size: 5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    &.sub {
      text-align: right;
    }
    &-logo {
      height: 100px;
    }
  }

  .get-it-btn {

    @include button-centered(348px, 86px, #b9343e);

    &:hover {
      animation: Fly 1s 0s infinite linear alternate;
    }

    .shirt {
      $size: 49px;
      background: url(../img/shirt-btn.png);
      width: $size;
      height: $size;
      margin: 17px 30px 0 0;
      display: inline-block;
    }

    .cta-btn {
      text-transform: uppercase;
      font-family: $font;
      color:  #ffffff;
      font-size: 32px;
      font-weight: 300;
      text-align: right;
      vertical-align: middle;
      height: 100%;
      display: inline-block;
    }

  }
}
.poll-screen {

  background-color:  rgb(176, 52, 62);

  .poll-text {
    $size-width: 650px;
    $size-height: 450px;
    position: absolute;
    height: $size-height;
    width: $size-width;
    top:50%;
    margin-top: -225px;
    color: #FFFFFF;

    .poll-header {
      margin-bottom: 30px;
      text-align: center;
      font-family: $font;

      h2 {
        font-size: 4.375em;
        line-height: 80px;
        font-weight: 300;
      }

      h3 {
        font-size: 2em;
        padding: 0 20%;
        line-height: 48px;
        font-weight: 300;
      }

    }
  }

  .try-it {
    width: 190px;
    position: absolute;
    top:83%;
    left:44%;

    p {
      padding: 0;
      font-size: 2.625em;
      font-weight: 300;
      color: #FFFFFF;
    }

    img {
      float: right;
    }

  }
  .iphone {
    text-align: center;
    float: right;
    max-width: 422px;
    margin: 0 auto;

    img {
      height: auto;
      width: 100%;
    }

  }
}
.look-screen {

  background-color: rgb(230, 207, 201);

  .look-text {
    $size-width: 650px;
    $size-height: 450px;
    position: absolute;
    height: $size-height;
    width: $size-width;
    top: 50%;
    margin-top: -225px;
    left: 45%;

    .look-header {
      margin-bottom: 30px;
      text-align: center;
      font-family: $font;

      h2 {
        font-size: 4.375em;
        line-height: 80px;
        font-weight: 300;
        color: rgb(176, 52, 62);
      }

      h3 {
        font-size: 2em;
        padding: 0 20%;
        line-height: 48px;
        font-weight: 300;
        color: rgb(64, 65, 66);
      }

    }
  }

  .try-it-look {
    width: 190px;
    position: absolute;
    top: 75%;
    left: 43%;

    .text {
      margin-left: 60px;
    }

    p {
      padding: 0;
      font-size: 2.625em;
      color: #b9343e;
      font-weight: 700;
      transform: rotate(7.811deg)
    }

  }

  .iphone {
    text-align: center;
    max-width: 422px;
    margin: 0 auto;

    img {
      height: auto;
      width: 100%;
    }

  }
}
.explore-screen {

  background-color:  rgb(248, 242, 240);

  .explore-text {
    text-align: center;
    font-family: $font;
    font-weight: 300;
    $size-width: 650px;
    $size-height: 380px;
    position: absolute;
    height: $size-height;
    width: $size-width;
    top: 50%;
    margin-top: -190px;

    .explore-header {
      margin-bottom: 30px;
      text-align: center;
      font-family: $font;

      h2 {
        font-size: 4.375em;
        line-height: 80px;
        font-weight: 300;
        color: rgb(176, 52, 62);
      }

      h3 {
        font-size: 2em;
        padding: 0 20%;
        line-height: 48px;
        font-weight: 300;
        color: rgb(64, 65, 66);
      }
    }
  }

  .try-it-explore {
    width: 100px;
    position: absolute;
    top:75%;
    left:49%;

    p {
      padding: 0;
      font-size: 2.625em;
      font-weight: 300;
      transform: rotate(-9.974deg);
      color:rgb(185, 52, 62);
    }

    img {
      float: right;
    }

  }

  .iphone {
    text-align: center;
    float: right;
    max-width: 422px;
    margin: 0 auto;

    img {
      height: auto;
      width: 100%;
    }

  }
}

.choose-wisely {
  background: url(../img/footerslide.png) 50% 50%, rgba(176, 52, 62, 0.99);
  background-size: cover;
  h2 {
    margin-top: -15vh;
    text-align: center;
    color: #fff;
    font-family: $font;
    font-size: 4.3em;
    font-weight: 300;
  }
  .get-it-btn {
    margin-top: 5vh;
    @include button-centered(348px, 86px, #fff);
  }
  footer {
    margin-left: -15px;
    color: #fff;
    position: absolute;
    bottom: 5vh;

    .copyright {

      small {
        font-family: $font;
        font-size: 1.3em;
        font-weight: 300;
        text-align: center;
      }
    }

    a {
      color: #fff;
      font-size: 1.3em;
      text-align: center;
    }
    .icons {

      &:first-child {
        text-align: center;
      }
    }
    .fa {
      font-size: 2em;

      padding: 15px;
      border: 1px solid #fff;
      border-radius: 50%;

      display: inline-block;
      text-align: center;

      &:hover {
        animation: Rotate 0.8s 0.1s 1 linear alternate;
      }
    }
    .fa-twitter:before {
      padding: 1px;
    }
    .fa-facebook:before {
      padding: 8px;
    }
    .fa-instagram:before {
      padding: 2px;
    }
    .links {
      margin-top: 25px;
    }
  }
}

pre {
  width: 90%;
  position: relative;
  left: -50%;
  margin-left: 55%;
  font-size: 1.5em;
  line-height: 35px;
}

@media only screen and (max-width : 1400px) and (min-width: 1200px) {
  .poll-screen {

    .poll-text {

      height: 330px;
      margin-top: -165px;

      .poll-header {

        h2 {
          font-size: 3.750em;
          line-height: 65px;
        }

        h3 {
          font-size: 1.80em;
          padding: 0 23%;
          line-height: 35px;
        }
      }
    }

    .try-it {

      p {
        font-size: 1.80em;

      }
    }

    .iphone {

      img {
        width: 85%;
      }

    }

  }

  .look-screen {

    .look-text {

      height: 330px;
      margin-top: -165px;

      .look-header {

        h2 {
          font-size: 3.750em;
          line-height: 65px;
        }

        h3 {
          font-size: 1.80em;
          padding: 0 23%;
          line-height: 35px;
        }
      }
    }

    .try-it-look {

      p {
        font-size: 1.80em;

      }
    }

    .iphone {

      img {
        width: 85%;
      }

    }

  }

  .explore-screen {

    .explore-text {

      height: 330px;
      margin-top: -165px;

      .explore-header {

        h2 {
          font-size: 3.750em;
          line-height: 65px;
        }

        h3 {
          font-size: 1.80em;
          padding: 0 23%;
          line-height: 35px;
        }
      }
    }

    .try-it-explore {

      p {
        font-size: 1.80em;

      }
    }

    .iphone {

      img {
        width: 85%;
      }

    }
  }
}

@media only screen and (max-width : 1200px) and (min-width: 1000px) {

  .poll-screen {

    .poll-text {
      width: 500px;
      height: 330px;
      margin-top: -165px;

      .poll-header {

        h2 {
          font-size: 3.350em;
          line-height: 60px;
        }

        h3 {
          font-size: 1.40em;
          padding: 0 22%;
          line-height: 30px;
        }
      }
    }

    .try-it {
      width: 120px;
      p {
        font-size: 1.40em;
      }
      img {
        width: 40%;
      }
    }
    .iphone {

      img {
        width: 80%;
      }

    }
  }

  .look-screen {

    .look-text {
      width: 500px;
      height: 330px;
      margin-top: -165px;

      .look-header {

        h2 {
          font-size: 3.350em;
          line-height: 60px;
        }

        h3 {
          font-size: 1.40em;
          padding: 0 22%;
          line-height: 30px;
        }
      }
    }

    .try-it-look {
      width: 120px;
      p {
        font-size: 1.40em;
      }
      img {
        width: 40%;
      }
    }
    .iphone {

      img {
        width: 80%;
      }

    }

  }

  .explore-screen {

    .explore-text {
      width: 500px;
      height: 330px;
      margin-top: -165px;

      .explore-header {

        h2 {
          font-size: 3.350em;
          line-height: 60px;
        }

        h3 {
          font-size: 1.40em;
          padding: 0 22%;
          line-height: 30px;
        }
      }
    }

    .try-it-explore {
      width: 120px;
      p {
        font-size: 1.40em;
      }
      img {
        width: 40%;
      }
    }
    .iphone {

      img {
        width: 80%;
      }

    }
  }
}