@import "mixins";

@keyframes Rotate {
  75% {
    transform: rotate(290deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "FuturalPT";
  src: url("../fonts/Futura-Medium.eot");
  src: url("../fonts/Futura-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/FuturaPTBook.otf") format("opentype"),
  url("../fonts/Futura-Medium.woff") format("woff"),
  url("../fonts/Futura-Medium.ttf") format("truetype"),
  url("../fonts/Futura-Medium.svg#FururalPT") format("svg");
  font-weight: normal;
  font-style: normal;
}

$font: "FuturalPT";

@import "popup";
@import "partails/policy";
@import "partails/main-screen";
@import "partails/poll-screen";
@import "partails/look-screen";
@import "partails/explore-screen";
@import "partails/choose-wisely";
@import "partails/main-screen-mobile";
@import "partails/poll-screen-mobile";
@import "partails/look-screen-mobile";
@import "partails/explore-screen-mobile";
@import "partails/choose-wisely-mobile";


