
@mixin button-centered($width, $height, $color) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 11px;

  position: relative;
  margin-left: - ($width / 2);
  left: 50%;

  background-color:  $color;
  width: $width;
  height: $height;
}

$bootstrap-xs: "(max-width:767px)";
$bootstrap-sm: "(min-width:768px)";
$bootstrap-md: "(min-width:992px)";
$bootstrap-lg: "(min-width:1200px)";
$screen-xl: "(min-width:1400px)";

@mixin iphone-size($width, $height, $left, $top, $padding-top, $padding-left, $media) {

  @media #{$media} {

    width: $width;
    height: $height;
    left: $left;
    top: $top;
    padding-top: $padding-top;
    padding-left: $padding-left;
    margin-top: - ($height / 2);
  }
}

@mixin poll-image($width, $margin-top, $margin-left, $media) {

  @media #{$media} {
    width: $width;
    margin-top: $margin-top;
    margin-left: $margin-left;
  }

}

@mixin first-block-centred ($height){
  height: $height;
  margin-top: - ($height / 2);
  top:50%;
  position: absolute;
}


