$font: "FuturalPT";

.modal {
  &.active {
    display: block;
  }
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  .popup {
    position: relative;
    padding-top: 53px;
    padding-bottom: 50px;
    width: 415px;
    margin: 30vh auto;
    z-index: 10;
    background-color: #ffd500;
    .exit {
      display: block;
      background-color: inherit;
      position: absolute;
      top: -22px;
      right: -18px;
      border-radius: 50%;
      padding: 0;
      border: 3px solid #3c3c3c;
      //.text-center;
      color: #3c3c3c;
      cursor: pointer;
      width: 40px;
      height: 40px;
      &:after {
        content: 'x';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        right: 0;
        font: 30px/10px $font;
      }
    }
    h5 {
      font: 28px $font;
      color: #1f1f1f;
      //.text-center;
      margin: 0 0 41px;
    }
    form {
      padding: 0 67px;
      input {
        margin-top: 16px;
        border-color: #ff9d00;
      }
      button {
        margin-top: 44px;
      }
    }
  }
}
