$font: "FuturalPT";

.explore-screen {

  background-color: rgb(248, 242, 240);

  .iphone {
    text-align: center;
    max-width: 422px;
    top:50%;
    left: 64%;

    @include iphone-position(525px, $bootstrap-md);

    @include iphone-position(600px, $bootstrap-lg);

    @include iphone-position(822px, $screen-xl);



    img {
      position: absolute;

      @include iphone-size(270px, 525px, 0, 50%, 0, 0, $bootstrap-md);

      @include iphone-size(310px, 600px, 0, 50%, 0, 0, $bootstrap-lg);

      @include iphone-size(422px, 822px, 0, 50%, 0, 0, $screen-xl);

    }
  }

  .question {

    @include try(190px, 66%, -5%, $bootstrap-md);

    @include try(210px, 63%, -5%, $bootstrap-lg);

    @include try(250px, 67%, -5%, $screen-xl);
  }

  .explore-text {

    margin-left: 16%;
    @media #{$bootstrap-md} {
      height: 290px;
      max-width: 570px;
    }

    @media #{$bootstrap-lg} {
      height: 320px;
      margin-left: 16%;
    }
    @media #{$screen-xl} {
      height: 450px;
      margin-left: 10%;
    }

    .explore-header {
      margin-bottom: 30px;
      text-align: center;

      h2 {
        font-family: $font, "sans-serif";
        font-weight: 300;
        color: rgb(176, 52, 62);

        @media #{$bootstrap-md} {
          font-size: 3.375em;
          line-height: 50px;
        }

        @media #{$bootstrap-lg} {
          font-size: 3.7em;
          line-height: 55px;
        }

        @media #{$screen-xl} {
          font-size: 4.375em;
          line-height: 80px;
        }

      }

      h3 {
        padding: 0 16%;
        font-weight: 300;
        font-family: $font, "sans-serif";
        color: rgb(64, 65, 66);

        @media #{$bootstrap-md} {
          font-size: 1.65em;
          line-height: 30px;
        }

        @media #{$bootstrap-lg} {
          font-size: 1.8em;
          line-height: 35px;
          padding: 0 19.5%;
        }

        @media #{$screen-xl} {
          padding: 0 16%;
          font-size: 2em;
          line-height: 48px;
        }
      }
    }
  }

  .try-it-explore {

    @include try(80px, 78%, 51.5%, $bootstrap-md);

    @include try(100px, 79%, 54%, $bootstrap-lg);

    @include try(100px, 83%, 52%, $screen-xl);

    p {
      padding: 0;
      font-weight: 300;
      transform: rotate(-9.974deg);
      color:rgb(185, 52, 62);
      font-family: $font, "sans-serif";

      @media #{$bootstrap-md} {
        font-size: 2.225em;
      }

      @media #{$bootstrap-lg} {
        font-size: 2.375em;
      }

      @media #{$screen-xl} {
        font-size: 2.625em;
      }
    }

    img {
      float: right;

      @media #{$bootstrap-md} {
        width: 70%;
      }
      @media #{$bootstrap-lg} {
        width: 55%;
      }
      @media #{$screen-xl} {
        width: 70%;
      }
    }

  }
}