$font: "FuturalPT";

.look-screen {

  background-color: rgb(230, 207, 201);

  .iphone {
    background: url(../img/iphonegrey.png) no-repeat;
    background-size: 100%;
    position: absolute;

    @include iphone-size(270px, 525px, 20%, 50%, 0, 0, $bootstrap-md);

    @include iphone-size(310px, 600px, 20%, 50%, 0, 0, $bootstrap-lg);

    @include iphone-size(422px, 820px, 21%, 50%, 0, 0, $screen-xl);
  }
  .bg-look-shirt {
    position: absolute;
    right: -23vh;
    top: 6vh;
    height: 53vh;
  }

  .bg-look-coat {
    position: absolute;
    left: -40vh;
    top: 3vh;
    height: 93vh;
  }

  .bg-look-pants {
    position: absolute;
    right: -40vh;
    bottom: -55vh;
    height: 93vh;
  }

  .bg-look-shoes {
    position: absolute;
    right: 30vh;
    bottom: -32vh;
    height: 42vh;
  }

  .look-text {

    @media #{$bootstrap-md} {
      height: 295px;
    }

    @media #{$bootstrap-lg} {
      height: 320px;

    }

    @media #{$screen-xl} {
      height: 410px;
      margin-left: 50%;
    }

    .look-header {
      margin-bottom: 30px;
      text-align: center;

      h2 {
        font-family: $font;
        font-weight: 300;
        color: rgb(176, 52, 62);

        @media #{$bootstrap-md} {
          font-size: 3.375em;
          line-height: 50px;
        }

        @media #{$bootstrap-lg} {
          font-size: 3.7em;
          line-height: 55px;
        }

        @media #{$screen-xl} {
          font-size: 4.375em;
          line-height: 80px;
        }
      }

      h3 {
        padding: 0 16%;
        font-weight: 300;
        font-family: $font;
        color: rgb(64, 65, 66);

        @media #{$bootstrap-md} {
          font-size: 1.65em;
          line-height: 30px;
        }

        @media #{$bootstrap-lg} {
          font-size: 1.8em;
          line-height: 35px;
          padding: 0 19.5%;
        }

        @media #{$screen-xl} {
          font-size: 2em;
          padding: 0 16%;
          line-height: 48px;
        }

      }
    }
  }

  .try-it-look {
    
    position: absolute;

    @include try(130px, 77%, 74vh, $bootstrap-md);

    @include try(170px, 77%, 74vh, $bootstrap-lg);

    @include try(190px, 77%, 78vh, $screen-xl);

    .text {

      @media #{$bootstrap-md} {
        margin-left: 30px;
      }
      @media #{$bootstrap-lg} {
        margin-left: 35px;
      }
      @media #{$screen-xl} {
        margin-left: 50px;
      }
    }

    p {
      padding: 0;
      margin: 0;
      color: #b9343e;
      font-weight: 300;
      transform: rotate(7.811deg);
      font: $font;

      @media #{$bootstrap-sm} {
        font-size: 1.9em;
      }

      @media #{$bootstrap-md} {
        font-size: 2em;
      }

      @media #{$bootstrap-lg} {
        font-size: 2.375em;
      }
      @media #{$screen-xl} {
        font-size: 2.625em;
      }
    }

    img {

      @media #{$bootstrap-sm} {
        width: 34%;
      }

      @media #{$bootstrap-md} {
        width: 37%;
      }
      @media #{$bootstrap-lg} {
        width: 33%;
      }
    }

  }
}