$font: "FuturalPT";

.look-screen-mobile {

  background-color: rgb(230, 207, 201);

  .iphone {
    text-align: center;
    //width: 100%;
    margin-bottom: 35px;

    @media (max-width: 380px) {
      width: 100%;
    }

    img {
      width: 310px;

      @media (max-width: 380px) {
        width: 100%;
      }
    }

    @media #{$bootstrap-sm} {

    }

  }

  .look-text {
    margin-top: 60px;

    .look-header {
      margin-bottom: 30px;
      text-align: center;

      h2 {
        font-family: $font, "sans-serif";
        font-weight: 300;
        color: rgb(176, 52, 62);
        font-size: 3.3em;
      }

      h3 {
        font-family: $font, "sans-serif";
        padding: 0 16%;
        font-weight: 300;
        color: rgb(64, 65, 66);
        font-size: 2em;
        line-height: 34px;
      }


    }
  }

  .try-it-look {
    text-align: center;
    .text {

      p {
        padding: 0;
        margin: 0;
        color: #b9343e;
        font-weight: 300;
        transform: rotate(7.811deg);
        font-family: $font, "sans-serif";
        font-size: 2em;
      }
    }
    img {
      width: 7%;
    }
  }
}
