$font: "FuturalPT";

.look-screen {

  background-color: rgb(230, 207, 201);

  .iphone {
    text-align: center;
    margin-left: 20%;

    @media #{$bootstrap-md} {
      height: 525px;
      width: 270px;
      position: absolute;
      top: 50%;
      margin-top: -267.5px;
    }

    @media #{$bootstrap-lg} {
      height: 600px;
      width: 370px;
      position:absolute;
      top: 50%;
      margin-top: -300px;
    }
    @media #{$screen-xl} {
      width: 422px;
      height: 822px;
      position: absolute;
      top: 50%;
      margin-top: -411px;

    }

    img {
      @media #{$bootstrap-md} {
        width: 270px;
      }
      @media #{$bootstrap-lg} {
        width: 310px;
      }
      @media #{$screen-xl} {
        width: 422px;
      }
    }

  }

  .bg-look-shirt {
    position: absolute;
    right: -23vh;
    top: 6vh;
    height: 53vh;
  }

  .bg-look-coat {
    position: absolute;
    left: -40vh;
    top: 3vh;
    height: 93vh;
  }

  .bg-look-pants {
    position: absolute;
    right: -40vh;
    bottom: -55vh;
    height: 93vh;
  }

  .bg-look-shoes {
    position: absolute;
    right: 30vh;
    bottom: -32vh;
    height: 42vh;
  }

  .look-text {

    @media #{$bootstrap-md} {
      height: 270px;
    }

    @media #{$bootstrap-lg} {
      height: 290px;
    }

    @media #{$screen-xl} {
      height: 410px;
    }

    .look-header {
      margin-bottom: 30px;
      text-align: center;

      h2 {
        font-family: $font, "sans-serif";
        font-weight: 300;
        color: rgb(176, 52, 62);

        @media #{$bootstrap-md} {
          font-size: 3.375em;
          line-height: 45px;
        }

        @media #{$bootstrap-lg} {
          font-size: 3.7em;
          line-height: 50px;
        }

        @media #{$screen-xl} {
          font-size: 4.375em;
          line-height: 80px;
        }
      }

      h3 {
        padding: 0 16%;
        font-weight: 300;
        font-family: $font, "sans-serif";
        color: rgb(64, 65, 66);

        @media #{$bootstrap-md} {
          font-size: 1.65em;
          line-height: 25px;
        }

        @media #{$bootstrap-lg} {
          font-size: 1.8em;
          line-height: 30px;
          padding: 0 19.5%;
        }

        @media #{$screen-xl} {
          font-size: 2em;
          padding: 0 16%;
          line-height: 48px;
        }

      }
    }
  }

  .try-it-look {

    position: absolute;

    @include try(130px, 77%, 47%, $bootstrap-md);

    @include try(170px, 79%, 47%, $bootstrap-lg);

    @include try(190px, 79%, 50%, $screen-xl);

    @include try(190px, 79%, 45%, $screen-xxl);

    p {

      padding: 0;
      color: #b9343e;
      font-weight: 300;
      transform: rotate(7.811deg);
      font-family: $font, "sans-serif";

      @media #{$bootstrap-md} {
        font-size: 2em;
        margin: 0 0 0 25px;
      }

      @media #{$bootstrap-lg} {
        font-size: 2.375em;
        margin: 0 0 0 30px;
      }
      @media #{$screen-xl} {
        font-size: 2.625em;
        margin: 0 0 0 40px;
      }
    }

    img {

      @media #{$bootstrap-sm} {
        width: 34%;
      }

      @media #{$bootstrap-md} {
        width: 37%;
      }
      @media #{$bootstrap-lg} {
        width: 33%;
      }
    }

  }
}