.nav-container {

  float: left;
  position: relative;
  left: 50%;

  .nav {
    float: left;
    position: relative;
    left: -50%;

    li {
      margin-left: 40px;
      &.active a {
        background-color: transparent;
        color:  #b9343e;
      }
      a {
        font-family: $font;
        color:  #434343;
        font-size: 1.6em;
        font-weight: 400;
      }
    }
  }
}
.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;

  //background-color: transparent;
  background-color: #fff;
  border: none;
}