$font: "FuturalPT";

.poll-screen {

  background: url(../img/iphone6gold.png) 87% 50% no-repeat, rgb(176, 52, 62);
  @media #{$bootstrap-lg} {
    background-size: 276px;
  }

  @media #{$bootstrap-md} {

  }

  .iphone-photo {
    position: absolute;
    z-index: 10;
    left: 71.4%;
    top: 20%;
    .poll-photo-1 {
      width: 228px;
      margin-top: -1.542%;

    }
    .poll-photo-2 {
      width: 225.39px;
      margin-left: 1.5%;
    }
  }

  .bg-poll-photo1 {
    position: absolute;
    left: -17%;
    top:33%;
    width: 26%;
  }

  .bg-poll-photo2 {
    position: absolute;
    left: -17%;
    width: 24%;
    top: 24%;
  }

    .poll-text {
      margin-top: 12%;
      color: #FFFFFF;

      @media #{$bootstrap-md} {
        height: 330px;
      }

      @media #{$bootstrap-lg} {
        height: 450px;
        margin-top: 8%;
      }
      @media #{$screen-xl} {
        height: 450px;
        margin-top: 12%;
      }

      .poll-header {
        margin-bottom: 30px;
        text-align: center;

        h2 {
          font-family: $font;
          font-weight: 300;

          @media #{$bootstrap-sm} {
            font-size: 2.6em;
            line-height: 43px;
          }

          @media #{$bootstrap-md} {
            font-size: 3.375em;
            line-height: 50px;
          }

          @media #{$bootstrap-lg} {
            font-size: 4em;
            line-height: 75px;
          }
          @media #{$screen-xl} {
            font-size: 4.375em;
            line-height: 80px;
          }
        }

        h3 {
          padding: 0 16%;
          font-weight: 300;
          font-family: $font;

          @media #{$bootstrap-sm} {
            font-size: 1.25em;
            line-height: 25px;
          }
          @media #{$bootstrap-md} {
            font-size: 1.65em;
            line-height: 30px;
          }

          @media #{$bootstrap-lg} {
            font-size: 1.8em;
            line-height: 43px;
            padding: 0 19.5%;
          }

          @media #{$screen-xl} {
            padding: 0 16%;
            font-size: 2em;
            line-height: 48px;
          }
        }

      }

    }

    .try-it {

      position: absolute;

      @media #{$bootstrap-sm} {
        top: 83%;
        width: 110px;
        left: 47%;
      }

      @media #{$bootstrap-md} {
        top: 83%;
        width: 130px;
        left: 51%;
      }
      @media #{$bootstrap-lg} {
        top: 84%;
        width: 140px;
        left: 54%;
      }
      @media #{$screen-xl} {
        top: 83%;
        width: 190px;
        left: 47%;
      }

      p {
        padding: 0;
        font-size: 2.625em;
        font-weight: 300;
        color: #FFFFFF;
        font-family: $font;

        @media #{$bootstrap-sm} {
          font-size: 1.9em;
        }

        @media #{$bootstrap-md} {
          font-size: 2.225em;
        }

        @media #{$bootstrap-lg} {
          font-size: 2.375em;
        }
        @media #{$screen-xl} {
          font-size: 2.625em;
        }
      }

      img {
        float: right;

        @media #{$bootstrap-sm} {
          width: 42%;
        }

        @media #{$bootstrap-md} {
          width: 42%;
        }
        @media #{$bootstrap-lg} {
          width: 37%;
        }
      }

    }

    .iphone {
      text-align: center;
      margin-top: -1%;
      float: right;
      max-width: 422px;

      @media #{$bootstrap-sm} {
        max-width: 280px;
      }

      @media #{$bootstrap-md} {
        max-width: 320px;
      }

      @media #{$bootstrap-lg} {
        max-width: 330px;
      }
      @media #{$screen-xl} {
        max-width: 422px;
      }

      .iphone-phone {
        margin-top: -15px;
        height: auto;
        width: 100%;
      }
    }
  }
